<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Architecture</title>
  </head>
  <body>
    <h3>Welcome to ToDo list app based on MVC structure.</h3>
    <h4><a href="/todos/"> Click here to start </a></h4>
  </body>
</html>
